.mobile-menu{
    top:64px;
    right:-200px;
    position:fixed;
    z-index:99999;
    background:#fff;
    -webkit-transition: right 0.8s; 
    transition: right 0.8s;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

.mobile-menu-open{
    top:64px;
    right:0px;
    position:fixed;
    z-index:99999;
    background:#fff;
    -webkit-transition: right 0.8s; 
    transition: right 0.8s;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

.mobile-menu .ant-menu{
    min-width:200px;
    display:block;
}

.mobile-menu-open .ant-menu{
    min-width:200px;
    display:block;
}

.mobile-menu-open .ant-menu-item::after{
    right: inherit;
    left:0;
}

.mobile-menu-open .ant-input-affix-wrapper,.mobile-menu .ant-input-affix-wrapper{
    width: 190px;
    top: -10px;
    left:5px;
}