.news-cat-widget{
    margin-bottom:20px;
}

.news-cat-widget .ant-menu{
    width:100%;
    border-right:0px
}

.ant-card-head{
    background:#333;
    color:#eee;
    border-bottom:0px
}

.ant-card-head-title{
    color:#eee;
    font-weight:600
}