.news-list-widget ul{
    padding:5px 20px;
    font-size:0.9rem;

}

.news-list-widget ul li{
    margin-bottom:10px

}

.news-list-widget ul li i{
    font-size:12px;
    margin-right:3px
}

.ant-card-head-title{
    font-weight:600;
    color:#eee
}

.news-list-widget{
    margin-bottom:20px;
}

.news-list-widget,.news-list-widget .ant-card-body{
    background:#fbfbfb;
}

.ant-card-head{
    background:#333;
    border-bottom:0px
}

.ant-card-extra a{
    color:#fff
}
