.ant-breadcrumb{
    font-size:1rem;
    margin-bottom:10px
}

.ant-breadcrumb a{
    color:#3264ae
}

.post-title{
    text-align:center;
    font-size:2.2rem;
    margin-bottom:25px
}

.post-image{
    text-align:center;
    position:relative
}

.post-image img{
    width:98%;
    border-radius: 4px;
    margin-bottom:20px;
}

.post-content p{
    font-size:1rem
}

.post-meta{
    margin-bottom: 20px;
    background: #ddd;
    color: #444;
    padding: 8px;
    font-size: 0.8rem;
    border-radius: 3px;
}

.post-meta i{
    color:#3264ae
}



.post-meta .category{
    float:right;
    text-transform: uppercase
}