.news-block-big{
    background:#ddd;
    height:0px;
    width:100%;
    padding-bottom:60%;
    margin-bottom:10px;
    position:relative;
    overflow:hidden;
    
}

.news-block-big img{
    width:100%;
    height:auto;
    margin:0
}

.news-caption{
    padding:10px 20px;
    position:absolute;
    width:100%;
    bottom:0px;
    background: rgba(0, 0, 0, .5);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .9)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), transparent);
    background: linear-gradient(to top, rgba(0, 0, 0, .9), transparent);
}

.news-caption h1{
    color:#fff;
}

