.ant-layout,.ant-layout-header{
    background:transparent;
    padding:0px;
    margin:0px;
}

.ant-layout-footer{
    background:#444;
    padding:0px;
    margin:0px;
    line-height:50px
}

.container{
    width:100%;
    max-width:78rem;
    margin:auto;
    background:transparent;
    padding:0px 20px;
}

.loading-spin{
    text-align:center;
    position:relative;
    margin-top:20%;
}

.ant-back-top-content{
    background-color:#3264ae
}

.ant-back-top-content:hover{
    background-color:#6389c1
}


@media screen and (max-width: 767px) {
    .container{
        padding:0px 10px
    }
}